# 기말 과제

- 동일한 실행 결과가 나오도록 빈 칸에 정답 코드를 작성하세요.( "코드 작성" 이라는 주석 부분 영역에 정답 코드를 채워넣으면 됩니다 )
- 노트북 파일을 완성 후, 압축하여 eclass에 과제로 제출하면 됩니다.
- 제출 시 압축 파일 형태(zip)로 제출하며, 학번과 이름을 기입하여 제출하세요 (20241234_김거프.zip)

-----

### **Import Library**

In [20]:
import numpy as np
import pandas as pd

-----

### **과제 1. Numpy 실습 : ndarray 데이터 생성하기**

##### **문제 1 : 0이상 20 미만의 정수 중 0부터 2 간격으로 값을 생성**

In [ ]:
x = np.arange(0, 20, 2)
print(x)

##### **문제 2 : 3행 4열 의 행렬을 생성하고 20 값으로 요소를 모두 채워서 생성**

In [1]:
x = np.full((3,4),20)
print(x)

NameError: name 'np' is not defined

##### **문제 3 : (3행 3열) x 4 높이의 3차원 형태로 생성하며, 모든 요소를 1부터 100 사이의 랜덤 값으로 채워서 생성**

In [5]:
x = np.random.randint(1, 101, size=(3, 3, 4))
print(x)

NameError: name 'np' is not defined

-----

### **과제 2. Numpy 실습 : 인덱싱 및 슬라이싱**

##### **데이터 생성**

In [54]:
data_matrix = np.arange(60).reshape(3, 4, 5)
data_matrix

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

##### **문제 1 : data_matrix를 이용하여 인덱싱 및 슬라이싱을 이용하여 동일한 결과가 나오도록 코드 작성**

In [4]:
print(data_matrix[1,1,3])

TypeError: tuple indices must be integers or slices, not tuple

##### **문제 2 : data_matrix를 이용하여 인덱싱 및 슬라이싱을 이용하여 동일한 결과가 나오도록 코드 작성**

In [6]:
print(data_matrix[0:2,3,1:4])

TypeError: tuple indices must be integers or slices, not tuple

##### **문제 3 : data_matrix를 이용하여 인덱싱 및 슬라이싱을 이용하여 동일한 결과가 나오도록 코드 작성**

In [7]:
print(data_matrix[:,1:4,:])

TypeError: tuple indices must be integers or slices, not tuple

-----

### **과제 3. Numpy 실습 : 조건에 만족하는 원소 추출**

##### **데이터 생성**

In [93]:
data_list = np.random.randint(1, 1000, size=50)
data_list

array([286, 985, 326,  77, 420, 835, 702, 683, 852,  59, 548, 128, 884,
       600, 179, 558, 347, 948,  29, 943, 822, 547, 978, 913, 404, 146,
       268, 399, 846,  36, 265, 804, 274,  10, 859, 652, 702, 405, 127,
       254, 742, 645, 251, 270, 252, 130, 705,  57, 488, 816], dtype=int32)

##### **문제 1 : data_list에서 8의 배수만 추출하여 ndarray를 구성하고 이를 출력**

- 랜덤 값이므로 실행 결과와 같지 않아도 되지만, 8의 배수로 구성되어 있어야 정답 처리

In [8]:
x = array[array % 8 == 0]
print(x)

NameError: name 'array' is not defined

##### **문제 2 : data_list에서 500 이상의 값을 추출하여 ndarray를 구성하고 이를 출력**

- 랜덤 값이므로 실행 결과와 같지 않아도 되지만, 500 이상의 값으로 구성되어 있어야 정답 처리

In [9]:
x = data_list[data_list >= 500]
print(x)

NameError: name 'array' is not defined

-----

### **과제 4. Pandas 실습 : 시리즈**

##### **문제 1 : 실행 결과와 동일한 시리즈를 생성**

In [11]:
# 정답 작성
series1 = [10,20,30,40,50,60,70,80]
series2 = ["ㄱ","ㄴ","ㄷ","ㄹ","ㅁ","ㅂ","ㅅ","ㅇ"]
series_data=(series1, series2=series2)
# 출력
series_data

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2511563872.py, line 4)

##### **문제 2 : 문제 1에서 생성한 series_data를 인덱스를 이용하여 값을 변경하여 결과와 같이 출력**

In [23]:
# 정답 작성
series_data=pd.Series([10,20,30,40,50,60,70,80], ["ㄱ","ㄴ","ㄷ","ㄹ","ㅁ","ㅂ","ㅅ","ㅇ"])
# 출력
series_data

ㄱ    10
ㄴ    20
ㄷ    30
ㄹ    40
ㅁ    50
ㅂ    60
ㅅ    70
ㅇ    80
dtype: int64

-----

### **과제 5. Pandas 실습 : 데이터프레임**

##### **문제 1 : dictionary와 pandas dataframe을 이용하여 실행 결과와 동일한 데이터 프레임을 생성**

- 띄어쓰기, 철자 등은 평가 대상이 아님.
- 인덱스, 3개의 컬럼, row의 개수가 동일해야 함.

In [25]:
# dictionary와 list를 이용하여 데이터 생성
data = {
    'name': ['유승호','유태근','봉하림','흰둥이','윤별','탄지로','을지로','이타치'],
    'age' : [27,33,33,1,22,17,0,23],
    'hobby' : ['청소기로 청소하기','돌돌이로 청소하기','빗자루로 청소하기','바닥 돌아댕기기','기둥 역할하기','해의 호흡 사용하기','힙하기',
                  '만화경사륜안']
}   

# human_df 데이터프레임 생성
human_df = pd.DataFrame(data,index=['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ','ㅅ','ㅇ'])

# 출력
human_df

  name  age       hobby
ㄱ  유승호   27   청소기로 청소하기
ㄴ  유태근   33   돌돌이로 청소하기
ㄷ  봉하림   33   빗자루로 청소하기
ㄹ  흰둥이    1    바닥 돌아댕기기
ㅁ   윤별   22     기둥 역할하기
ㅂ  탄지로   17  해의 호흡 사용하기
ㅅ  을지로    0         힙하기
ㅇ  이타치   23      만화경사륜안

  name  age       hobby
ㄹ  탄지로   33  해의 호흡 사용하기
ㄴ  흰둥이    3       먹이 먹기

##### **문제 2 : human_df에서 '탄지로'와 '흰둥이'에 해당하는 row를 인덱스를 이용하여 출력**

selected_rows = human_df.loc[['ㄹ','ㄴ']]
selected_rows